* /*{
  border: 1px solid black;
}*/

title {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
}
#home-button {
  width: 50%;
  flex-direction: row;
  background-color: rgb(61, 56, 56);
  font-size: 20px;
  color: white;
}
menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
menu ul li {
  align-items: center;
  display: inline-flex;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*#random {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
body {
  background-color: rgb(155, 148, 148);
  font-family: "Poppins", sans-serif;
}
#food-btn:hover {
  background-color: red;
  font-size: 20px;
}
#food-btn {
  background-color: rgb(61, 56, 56);
  font-size: 20px;
  color: white;
}

#home-button:hover {
  background-color: red;
  font-size: 20px;
}
img {
  border: 5px solid;
}
