/** {
  border: 1px solid black;
}*/
title {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#home-button {

  margin-left: 40%;
  margin-right: 40%;

  flex-direction: row;
  background-color: rgb(61, 56, 56);
  font-size: 20px;
  color: white;
}
menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
menu ul li {
  align-items: center;
  display: inline-flex;
}
#container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 100px;
}
/*#random {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
body {
  background-color: rgb(155, 148, 148);
  font-family: "Poppins", sans-serif;
}
#food-btn:hover {
  background-color: red;
  font-size: 20px;
}
#food-btn {
  background-color: rgb(61, 56, 56);
  font-size: 20px;
  color: white;
}

#home-button:hover {
  background-color: red;
  font-size: 20px;
}

#food-img {
  border: 5px solid black;
  height: 300px;
  width: 300px;
  margin: 20px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#food-card {
  border: 5px solid black;
  width: 900px;
  border-radius: 25px;
  background-color: rgb(97, 134, 170);
}

#food-center {
  text-align: center;
}
#line {
  color: black;
}

#food-title {
  font-size: 70px;

}
