
body{
    background-color: rgb(155, 148, 148);
  font-family: "Poppins", sans-serif;
}
button:hover {
    background-color: #800020;
    color: gray;
}
header {
    display: flex;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15%;
}
#cocktail-card {
    border: 1px solid black;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
    border: 5px solid black;
}
#random-btn {
    font-size: 20px;
}
#recipe-card {
    border:1px solid black;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
    border: 5px solid black;
}
#random {
    display:flex;
    align-items: center;
    justify-content: center;
}
