
body{
    background-color: rgb(155, 148, 148);
  font-family: "Poppins", sans-serif;
}
button:hover {
    background-color: #800020;
    color: gray;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 42px;
}
#page-title{
    text-align: left;
    margin-left: 33.3%;
    margin-right: 33.3%;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10%;
}
#cocktail-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
    border: 5px solid black;
    padding: 0 1%;
}
#random-btn {
    font-size: 100%;
}
#recipe-card {
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
    border: 5px solid black;
    padding: 0 1%;
}
#random {
    display:flex;
    align-items: center;
    justify-content: center;
}

.learnNow{
    margin: auto;
    padding: 2%;
}

