
body {
    background-color: rgb(155, 148, 148);
  font-family: "Poppins", sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#home-button {
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgb(61, 56, 56);
    font-size: 20px;
    color: white;

}
#home-button:hover {
    background-color: #800020;
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 100px;   
}

#cocktail-card {
    border: 5px solid black;
    width: 900px; 
    border-radius: 25px;
    background-color: rgb(97, 134, 170);
    padding-bottom: 5%;
}
#cocktail-title {
    font-size: 70px;
    
    
}
#cocktail-btn {
    background-color: rgb(61, 56, 56);
    color: white;
    font-size: 20px;

}
#cocktail-btn:hover {
    background-color: #800020;

}
#cocktail-center {
    text-align: center;
}

#cocktail-img {
    float:left;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
    border: 5px solid black;

}
#line {
    color: black;
}
 #cocktail-recipe {
   margin-right: 20px;
   justify-content: space-evenly;

}  

#ingredients {
    padding: 30px;    
}

@media only screen and (max-width: 737px){
    #cocktail-img {
        float:left;
        height: 200px;
        width: 200px;
        margin: 20px;
        border-radius: 25px;
        border: 5px solid black;
    }  
    
}

@media only screen and (max-width: 713px){
    #instructions{
        margin-left: 20px;
        margin-bottom: 10px;     
    }

    
}

@media only screen and (max-width: 620px){
    #cocktail-img {
        float:none;
        height: 200px;
        width: 200px;
        margin: 7% 17% 0% 17%;
        border-radius: 25px;
        border: 5px solid black;
    }  
}