
body {
    background-color: burlywood;
}

header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#home-button {
    margin-left: 40%;
    margin-right: 40%;
}


#container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 100px;
}

#cocktail-card {
    border: 1px solid black;

}

#cocktail-center {
    text-align: center;
}

#cocktail-img {
    float:left;
    border: 1px solid black;
    text-align: justify;
}
#line {
    color: black;
}
#cocktail-recipe {
    text-align: justify;
    background-color: burlywood;
    color: white;
}
