/* *{
    border: 1px solid black;
   
} */
body {
    background-color: burlywood;
}
header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}



#home-button{
    flex-direction: row;
    width: 25%;
    margin-left: 38%;
}

#container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin: auto;
    /* width: 60%; */
    padding: 100px;
}
#cocktail-card {
    border: 1px solid black;

}
#cocktail-desc {
    text-align:center;
}

#cocktail-img {
    float:left; 
    /* width:50%; */
    border: 1px solid black;
    text-align: justify;
}
#line {
    color: black;
}
#cocktail-recipe {
    float:right;
    /* width:50%; */
    /* border: 1px solid black; */
    text-align: justify;
    height:fit-content;
    background-color: burlywood;
    color: white;
}
